$line_height: 1.6;
.breadcrumb {
  font-size: 11px;
}
body {
  line-height: $line-height;
}
body.page-index {
  a.index,
  .breadcrumb {
    display: none;
  }
  ul.index {
    font-size: 1.4rem;
    margin-bottom: 50px;
  }
}

.pager {
  width: 100%;
  position: relative;
  text-align: center;
  min-height: $line-height + em;
  font-size: .9rem;
}
.pager .prev,
.pager .next {
  position: absolute
}
.pager .prev {
  left: 0;
}
.pager .next {
  right: 0;
}
